/*************** HTML tag *****************/

body{
	font-family: Arial,sans-serif,ו;
	color: #333333;
	line-height: normal;
	margin: 0px;
	padding: 0px;
	font-size: 17px;
	vertical-align: baseline;
}

p{
	text-indent: 24px;
}

table{
	font-size:100%;
}

th{
	background-color: #eeeeee;
	font-weight:normal;
}


img{
	border:1px;
	border-style: solid;
	border-color: #CCCCFF;
	padding:2px 2px 2px 2px;
}
.smallimg{
	width: 53px;
	height:70px;
	margin-right: 10px;
	float:left;
}
.middleimg{
	width: 100px;
	height:70px;
	margin-right: 10px;
	float:left;
}

hr{
	color:#3B94CE;
	height:1px;
}

a:link, a:visited {
	color: #006699;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5{
	font-family: Arial,sans-serif;
	line-height:normal;
	margin:4px 0 4px 0;
	padding:0;
}

h1{
 	font-family: Verdana,Arial,sans-serif;
 	font-size: 150%;
 	color: #334d55;
}

h2{
 	font-size: 140%;
 	color: #006699;
}

h3{
 	font-size: 130%;
 	color: #334d55;
	text-indent: 24px;
}

h4{
 	font-size: 120%;
 	color: #006699;
	text-indent: 24px;
}

h5{
 	font-size: 110%;
 	color: #334d55;
}

ul{
	list-style-type:disc;
}
.nodot{
	list-style-type: none;
}

label{
 	font:  bold 100% Arial,sans-serif;
 	color: #334d55;
}
				

/*************** #Layout Divs *******************/

#navBar{
	margin: 0;
	padding: 0px;

	border-right: 1px solid #ccc;
	width: 99%;
}

#content{
	width: 600px;
	margin: 20px 20px 20px 20px;
	padding: 0 0 0 0;
	line-height: 18px; 
	vertical-align:baseline;
}
#econtent{
	width: 800px;
	margin: 20px auto;
	padding: 0 0 0 0;
	line-height: 18px; 
	vertical-align:baseline;
        font-family:HELVETICA;
}

/************* #siteInfo styles ***************/

#siteInfo{
	clear: both;
	border: 1px solid #cccccc;
	border-left-style: none;
	border-right-style: none;
	font-size: 100%;
	color: #aaaaaa;
	padding: 10px 10px 10px 10px;
	margin: 0px;
}

#siteInfo img{
	padding: 2px 4px 4px 0px;
	vertical-align: middle;
}

/*********** #navBar link styles ***********/

#navBar ul a:link, #navBar ul a:visited {
	display: block;
}

#navBar ul {
	list-style: none; 
	margin: 0; 
	padding: 0;
}

.bigClass{
background:url(image/back.jpg);
	
	font-weight: bold;
	padding-top: 10px;
	height: 18px;
	border-top: 1px solid #cccccc;
}


#navBar li {
	border-bottom: 1px solid #EEE;
}

#navBar li {
	border-bottom: none;
}

/*********** #sectionLinks styles ***********/

#sectionLinks{
	margin: 0px;
	padding: 0px;
border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	font-size: 100%;
	text-indent: 20px;
}

#sectionLinks a:link{
	padding: 2px 0px 2px 10px;
	border-top: 1px solid #cccccc;
	width: 100%;
  	voice-family: "\"}\""; 
  	voice-family:inherit;
	width: auto;
}

#sectionLinks a:visited{
	border-top: 1px solid #cccccc;
	padding: 2px 0px 2px 10px;
}

#sectionLinks a:hover{
	border-top: 1px solid #cccccc;
	background-color: #dddddd;
	padding: 2px 0px 2px 10px;
}

#sectionLinks li{
	height: 25px;
	vertical-align: middle;
}
/*********** #esectionLinks styles ***********/

#esectionLinks{
	margin: 0px;
	padding: 0px;       
	font-size: 100%;
}
#esectionLinks li{
        border-top: 1px solid #cccccc;
	padding: 2px 0px 2px 10px;
}